mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .hero-content {
    padding: 80px 20px; /* Adjust padding as needed */
    text-align: center;
    background-image: url("https://media.istockphoto.com/id/1443890653/photo/coding-see-through.jpg?s=2048x2048&w=is&k=20&c=ZAcdezpG-XDuhDHtZV5Ywab0LDvCV_YsjtAMghnxvOo=");
    background-size:auto;
    color: white;
  }
  